@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");
body {
  align-items: center;
  background-image: url("backgroundback-01.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  font-family:Azonix;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.container:after {
  background-color: #f2f2f2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left: 37px;
  top: 146px;
  width: 326px;
}
.img2 {
  left: -24px;
  top: 234px;
  width: 357px;
}
.img3 {
  left: -132px;
  top: 212px;
  width: 466px;
}
.divider {
  background-color: gold;
  height: 1px;
  width: 160px;
}
.name {
  color: gold;
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: gold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin-top: 4px;
}
.navbar{
  width: 100%;
  height: 20%;
  padding: 0px;
  margin: auto;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.logo{
  width: 297px;
  margin-top: -100px;
  margin-left: 0px;
  cursor: pointer;
}
.navbar ul li{
  list-style:disc;
  display: inline-block;
  margin: 15px;
  text-align: -webkit-match-parent;
  margin-top: -30px;
  margin-left: -10px;
}
.navbar ul li a {
  text-decoration: wavy;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 400;
  padding: 0px;
  cursor: pointer;
  font-family: Azonix;
  transition: color 0.5s;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.navbar a:hover{
      color:black;
} 
/* li a:hover {
  background-color: rgb(0, 225, 255);
  transition: background-color 0.7s;
} */
.button {
  --color: gold;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 85px;
  border: -40px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 250s;
  font-size: 20px;
  font-family: Azonix;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .button::after, .button::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .button::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .button:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .button:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .button:hover {
  color: var(--color2);
 }
 
 .button:active {
  filter: brightness(.7);
  transform: scale(.98);
 }
